# ========================
# Node.js / Next.js
# ========================
node_modules
.next
dist
/out
/build

# Testing
/coverage

# Production
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# ========================
# Golang
# ========================
uploads
bin
*.exe
*.out

# ========================
# Env
# ========================
.env
.env.local
.env.*
